@using Trip_booking.Models;
@model IEnumerable<Trip>

@{
    ViewBag.Title = "Trips";
}



<h2>Trips</h2>

<div class="row">
    <div class="col-md-7">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.startDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.endDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.minimumGuests)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
{
    <tr onclick="listLegs('@item.tripID');" style="cursor:pointer">
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.minimumGuests)
        </td>
        <td>
            @Html.ActionLink("Create", "Create", new { id = item.tripID }) |
            @Html.ActionLink("Add Leg", "AddLegToTrip", new { id = item.tripID })
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
        </td>
    </tr>
}

        </table>
    </div>

    <div class="col-md-5">
        Legs  mskjncncdsncdsccdscdvfdv
        <div id="legs"></div>
    </div>
</div>


@section scripts
{
    <script>
        /* Handles listing of Orders when clicking on Customer */
        function listLegs(ID) {
            $.ajax({
                url: '@Url.Action("listLegs")',
                data: { id: ID },
                success: function (data) {
                    $('#legs').html(data);
                   shrinkPageControls();
                }
            });
            $(this).toggleClass('success');
        }
</script>
}
